
body{
	background: url(img.jpg) no-repeat center top 70px;
}

.intro-message {
	text-align: center; 
	padding-top: 5%; 
	padding-bottom: 5%;
	color: #424242;
}

.maintext {
	text-align: center; 
	margin-top: 250px; 
	padding-bottom: 0%;
	color: #424242;
}

h1 {
	padding-top: 125px;
}

.subtext {
	text-align: center; 
	padding-top: 0%; 
	padding-bottom: 5%;
	color: #424242;
}

.signup-form {
	color: #fff;
	text-align: center;
}

.btn {
	background-color:#088A68;
}
